extends includes/layout.pug

block content
	h1.center-align Order
	form(method='POST')
		.form-group
			label(for="exampleInputEmail1") Email
			input(type="email", name="email" class="form-control", id="exampleInputEmail1", placeholder="Email:")
		.form-group
			label(for="exampleInputName") Name
			input(type="text", name="name", class="form-control", id="exampleInputName", placeholder="Name:")
		.form-group
			label(for="exampleInputPassword1") Phone
			input(type="tel", name="phone" class="form-control", id="exampleInputPassword1", placeholder="Phone:")
		.form-group
			label(for="size") Size
			select.form-control#size(name='size')
				option(selected disabled) Please Select A Size
				each size in sizes
					option(value=size.inches) #{size.name}: #{size.inches}"
		.form-group
			//- label(for="toppings") Toppings
			//- select.form-control#size(name='toppings')
			//- 	option(selected disabled) Please Select A Size
			//- 	each topping in toppings
			//- 		option(value=topping.inches) #{topping.name}: #{topping.quantity}"
			each topping in toppings
				div
					label(for='toppings')
						input(type='checkbox' name='toppings' value=topping.name)
						| #{topping.name}
		.button-group
			button(class="btn btn-danger") Cancel
			button(type="submit", class="btn btn-success") Submit