extends includes/layout.pug

block content
  if errors
    each err in errors
      h1= err.message
  .heading
    h1.center-align Order
  .order-form
    form(method='POST')
      //- .form-group(class={'has-error': errors.email})
        label.control-label(for="email") Email
          input.form-control#email(
            type="email" 
            name="email" 
            placeholder="Email:"
            value=body.email
            required
            )
        if errors.email
          span.help-block= errors.email.message
      .form-group
        label.control-label(for="email") Email
        input.form-control#email(
          type="email" 
          name="email" 
          placeholder="Email:"
          required
          )
      //- .form-group(class={'has-error': errors.name})
        label.control-label(for="name") Name
          input.form-control#name(
            type="text" 
            name="name"
            placeholder="John Doe"
            value=body.name
            required
            )
        if errors.name
          span.help-block= errors.name.message
      //- .form-group(class={'has-error': errors.phone})
        label.control-label(for="phone") Phone Number
          input.form-control#phone(
            type="tel"
            name="phone"
            placeholder="123-456-7890"
            value=body.phone
            required
            )
        if errors.phone
          span.help-block= errors.phone.message
      //- .form-group(class={'has-error': errors.size})
        label.form-control(for="size") Size
        select.form-control#size(name='size' required)
          option(selected disabled) Please Select A Size
          each size in sizes
            option(
              value=size.inches
              selected=(+body.size === +size.inches)
            ) #{size.name}: #{size.inches}"
        if errors.size
          span.help-block= errors.size.message
      //- .form-group(class={'has-error': errors.toppings})
        //- label(for="toppings") Toppings
        //- select.form-control#size(name='toppings')
        //-   option(selected disabled) Please Select A Size
        //-   each topping in toppings
        //-     option(value=topping.inches) #{topping.name}: #{topping.quantity}"
        each topping in toppings
          div
            label.control-label(for='toppings')
              input(type='checkbox' name='toppings' value=topping.name)
              | #{topping.name}
        if errors.toppings
          span.help-block= errors.toppings.message
      .form-group
        //- label(for="toppings") Toppings
        //- select.form-control#size(name='toppings')
        //-   option(selected disabled) Please Select A Size
        //-   each topping in toppings
        //-     option(value=topping.inches) #{topping.name}: #{topping.quantity}"
        each topping in toppings
          div
            label.control-label(for='toppings')
              input(type='checkbox' name='toppings' value=topping.name)
              | #{topping.name}
      .button-group
        button(class="btn btn-danger") Cancel
        button(type="submit", class="btn btn-success") Submit